# 각 학년별 영어 점수의 평균
- 유의수준 5%

In [1]:
one = [81, 75, 69, 90, 72, 83]
two = [65, 80, 73, 79, 81, 69]
three = [72, 67, 62, 76, 80]
four = [89, 94, 79, 88]

In [2]:
import scipy.stats as stats
F_statistic, pVal = stats.f_oneway(one, two, three, four)
print(F_statistic)
print(pVal)

4.346973368823913
0.019053639983492472

# 다중비교

In [13]:
df_score = pd.DataFrame(columns = ['grade', 'score'])
for i in one:
    df_score = df_score.append({'grade': 1, 'score' : i}, ignore_index=True)
for i in two:
    df_score = df_score.append({'grade': 2, 'score' : i}, ignore_index=True)
for i in three:
    df_score = df_score.append({'grade': 3, 'score' : i}, ignore_index=True)
for i in four:
    df_score = df_score.append({'grade': 4, 'score' : i}, ignore_index=True)
df_score

   grade score
0      1    81
1      1    75
2      1    69
3      1    90
4      1    72
5      1    83
6      2    65
7      2    80
8      2    73
9      2    79
10     2    81
11     2    69
12     3    72
13     3    67
14     3    62
15     3    76
16     3    80
17     4    89
18     4    94
19     4    79
20     4    88

In [19]:
df_score = df_score.astype('int')

In [23]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
print(pairwise_tukeyhsd(df_score['score'], df_score['grade'], alpha=0.05))

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     1      2  -3.8333 0.7607 -15.3642  7.6975  False
     1      3  -6.9333 0.3902  -19.027  5.1603  False
     1      4   9.1667 0.2191  -3.7252 22.0586  False
     2      3     -3.1 0.8775 -15.1937  8.9937  False
     2      4     13.0 0.0477   0.1081 25.8919   True
     3      4     16.1 0.0157   2.7023 29.4977   True
-----------------------------------------------------